header, main, footer {
  padding: 1rem 2rem;
}

h1 {
  color: tomato;
}

img {
  width: 20%;
  justify-content: left;
}

nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav ul a {
  color: rgb(79, 23, 23);
}

footer nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
